<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Tweet Generator</title>
        <link rel="shortcut icon" href="static/images/bro_code_logo.jpeg">
        <link rel="stylesheet" type="text/css" href="./static/base.css">
    </head>
    <body>

        <!--NAVBAR-->
        <nav class="navbar">
            <img src="static/images/bro_code_logo.jpeg">
            <a href="/"><p>Bro Code</p></a>
        </nav>


        <h1>Tweet Generator</h1>
        <p>Your Tweet is:</p>
        
        <!-- TWEET -->
        <div class='tweet'>
            <p>{{ tweet }}</p>
            <img src="{{ gif }}" alt="Missing barney?" height="{{ h }}" width="{{ w }}">
        </div>
        
        <!--TWEET submit button-->
        <form action="/tweet" method="POST">
            <button type="submit">TWEET IT</button>
            <a href="/"><button type="button">Refresh</button></a>
        </form>

        <!--TWITTER LINK-->
        <div class="link">
            <a href="https://twitter.com/BotBrocode" target="_blank">Here's our official twitter</a>
        </div>
    </body>
</html>